
  .btn {
    background-color:black;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    border-radius: 10px !important;
    border: none;
    transition: all 0.3s ease 0s;
    font-family: 'Baloo Bhai', cursive;
  }
  .btn:hover,
  .btn.active:hover {
    color: #ffffff;
  }
  .btn:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color: white;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
  }
  .btn:after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color: white;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
  }
  .btn:hover:before,
  .btn:hover:after,
  .btn.active:before,
  .btn.active:after {
    width: 100%;
  }
  
  @media screen and (max-width: 575px) {
    .btn {
      margin-bottom: 50px !important;
    }
  }
  